* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    /* background-color: gray; */
}

#iterations {
    padding: 5px;
    width: 55px;
}

label {
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 50%;
    translate: -50% 0;
    z-index: 1;
    width: max-content;
}